@import '~bootstrap/scss/bootstrap';

#header-logo{
    height: 80px;
}

ul {
    list-style-type: none;
    li {
        padding: 2rem 1rem;
    }
    #selected {
        border-bottom: 3px solid $primary;
    }
}

#jumbo {
    height: 350px;
    background-image: url('/resources/img/jumbotron.jpg');
}

a {
    text-decoration: none;

    h6 {
        font-size: 13px;
    }
}

#ms_label {
    width: fit-content;
    position: absolute;
    top: 430px;
    left: 180px;
}

#blue {
    height: 70px;
}

.ms_poster {
    width: 150px;
    position: absolute;
    top: 270px;
    left: 400px;
}

h2 {
    color: $primary;
}