@import '~bootstrap/scss/bootstrap';
#ms_header {
    height: 75px;
}

#header-logo{
    height: 70px;
}

ul {
    list-style-type: none;
    li {
        padding: 2rem 1rem;
    }
    #selected {
        border-bottom: 5px solid $primary;
    }
}

#jumbo {
    height: 350px;
    background-image: url('/resources/img/jumbotron.jpg');
}

a {
    text-decoration: none;

    h6 {
        font-size: 13px;
    }
}

#ms_label {
    width: fit-content;
    position: absolute;
    top: 400px;
    left: 180px;
}

#blue {
    height: 80px;
}

.ms_poster {
    width: 150px;
    position: absolute;
    top: 250px;
    left: 400px;
}

h2 {
    color: $primary;
}

li {
    img {
        width: 70px;
    }

    .resize {
        width: 50px;
    }
}